*, *:before, *:after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
}

/* Layout */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  color: #0E0E0E;
  background-color: #ffffff;
}

.logo-lockup {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.logo-lockup img {
  width: 23px;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links a {
  text-decoration: none;
  color: #090909;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.nav-links a:hover, 
.nav-links a:focus {
  opacity: 0.5;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5em;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

article img {
  width: 100%;
  height: 232px;
  object-fit: cover;
  border-radius: 3px;
}

article time {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000000;
  text-transform: uppercase;
}

article h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #141414;
}

article p {
  font-weight: 400;
  font-size: 1rem;
  color: #505050;
  line-height: 1.25;
}

.featured-article {
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

.featured-article p {
  margin-bottom: 1em;
}

article.featured-article img {
  object-fit: cover;
  object-position: center 70%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(-1);
}

article.featured-article h1, 
article.featured-article p, 
article.featured-article time {
  color: #ffffff
}

.view-more-link {
  font-weight: 700;
  text-decoration: underline;
  font-size: 1rem;
  text-align: center;
  color: #000000;
  /* margin-top: 1em; */
  margin-bottom: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #202020;
  padding: 3em 0;
}

footer h4 {
  margin: 0;
  font-weight: 700;
}

footer p {
  margin: 0;
  font-weight: 400;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0 2em; */
  }

  .featured-article {
    grid-column: 1 / 4;
  }

}

